
body{
overflow:hidden
}

.box1{
    margin: auto;
    height: 99px;
    width: 99px;
    float: left;
    border: 1px black solid;
    text-align: center;
}
.box2{
    margin: auto;
    height: 99px;
    width: 99px;
    border: 1px black solid;
    left:100px;
    float: left;
    text-align: center;
}
.box3{
    margin: auto;
    height: 99px;
    width: 99px;
    left:200px;
    border: 1px black solid;
    float: left;
    text-align: center;

}
.box4{
    height: 99px;
    left:304px;
    position: relative;
    border: 1px white solid;
    text-align: center;
}

.cell{
    height: 99px;
    width: 99px;
    border: 1px black solid;
}
