header {
padding: 0.5px;
text-align: center;
font-size: 35px;
color: white;
font-family: "DM Sans";
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
margin-right: -100px;
overflow: hidden;
background-color: #404040;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 10px 20px;
text-decoration: none;
font-family: "DM Sans";
font-size: 20px;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #77039a;
}
h2 {
font-family: "DM Sans";
line-height: 0.5;
font-size: 58px;
}

h4 {
    font-family: "DM Sans";
    line-height: 0;
    font-size: 36px;
}

p {
font-family: "DM Sans";
line-height: 0.5;
}
hr {
position: relative;
top: 20px;
border: none;
height: 2px;
background: black;
margin-bottom: 50px;
}

.button {
    background-color: rgb(184, 59, 184);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px; /* Adjust the border-radius to increase or decrease the curve */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #7a00cc; /* Adjust the hover color as desired */
  }
  
.container {
position: relative;
text-align: center;
color: white;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
body {
overflow-x: hidden;
}

.row {
display: flex;
}

.column {
flex: 20px;
padding: 10px;
}
