p, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tab {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}

.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}

.tab button:hover {
background-color: #ddd;
}

.tab button.active {
background-color: #ccc;
}

.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 4px;
    background-color: rgb(45, 200, 231);
    border-color: rgb(45, 200, 231);
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 2px;
    text-align: center;
    background-color: rgb(180, 180, 180);
}

* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 20px;
    padding: 5px;
  }
  
